---
---

@import "{{ site.theme }}";
.main-content {
  img { 
//     border: 15px solid #f00; 
    box-shadow: 20px 20px 20px #1d1c1c; 
    display:block; 
  }  
  
  h1 {
   color: #fff;
   text-shadow: 2px 2px 5px #1d1c1c;   
 }
  h2 {
   color: #fff;
   text-shadow: 2px 2px 5px #1d1c1c;   
 }
  h3 {
   color: #fff;
   text-shadow: 2px 2px 5px #1d1c1c;   
 }
  p {
   color: #fff;
   text-shadow: 2px 2px 5px #1d1c1c;   
 }
  li {
   color: #fff;
   text-shadow: 2px 2px 5px #1d1c1c;   
 }
  a {
   color: #90aebd;
   text-shadow: 2px 2px 5px #1d1c1c;   
 }
}
.page-header {
    color: #fff;
   text-shadow: 2px 2px 5px #1d1c1c;   
    text-align: center;
    background-color: #fff;
    background-image:linear-gradient(120deg, #90aebd, #000000)
}

body {
    background-color: #434b4f;
}


//ty
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  box-shadow: 20px 20px 20px #1d1c1c; 
  display:block; 
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 20px 20px 20px #1d1c1c; 
  display:block; 
}
