---
---
$body-link-color: #a7a1a1 !default;

@import "{{ site.theme }}";
.main-content {
//   img { 
//   -webkit-filter: drop-shadow(20px 20px 20px #1d1c1c);
//   filter: drop-shadow(20px 20px 20px #1d1c1c);
// //     box-shadow: 20px 20px 20px #1d1c1c; 
// //     display:block; 
//   }  

  img {
    -webkit-filter: drop-shadow(3px 3px 6px #000 );
    filter: drop-shadow(3px 3px 6px #000)
  }  
  

	
  h1 {
   color: #fff;
   text-shadow: 3px 3px 6px #000;   
 }
  h2 {
   color: #fff;
   text-shadow: 3px 3px 6px #000;   
 }
  h3 {
   color: #fff;
   text-shadow: 3px 3px 6px #000;   
 }
  p {
   color: #fff;
   text-shadow: 3px 3px 6px #000;   
 }
  li {
   color: #fff;
   text-shadow: 3px 3px 6px #000;   
 }
//   a {
//    color: #90aebd;
//    text-shadow: 3px 3px 6px #000;   
//  }
}
.page-header {
    color: #fff;
    text-shadow: 3px 3px 6px #000;   
    text-align: center;
    background-color: #000;
//     background-image:linear-gradient(120deg, #90aebd, #000000);
    background-image: url({{ site.page-img | relative_url }});
    background-size: cover;
    background-position: right;
	
//     padding: 0
	
}

.project-name {
    height: 100px;
}

.project-tagline {
    height: 100px;
}

body {
//   background-color: #434b4f;
    background-color: #fff;
    background-image: linear-gradient(137deg, #000, #8c9090);
	
//   {% if site.page-img %}
//   background-image: url({{ site.page-img | relative_url }});
//   background-attachment: fixed;
//   {% endif %}    
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
//   -webkit-filter: drop-shadow(20px 20px 20px #1d1c1c);
//   filter: drop-shadow(20px 20px 20px #1d1c1c);
//   width: 50%;
}


.btn {
    box-shadow: 3px 3px 6px #000;
//     color: rgba(255,255,255,0.7);
//     text-shadow: 0px 0px 0px #000;   
}

//ty
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  box-shadow: 5px 9px 10px #000; 
  display:block; 
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 6px #000; 
  display:block; 
}


// //nav stuff


// .topnav {
//   overflow: hidden;
//   height: 100px;
// //   background-color: #333;
// }

// .topnav a {
//   float: left;
//   color: #f2f2f2;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
//   font-size: 17px;
// }

// .topnav a:hover {
//   background-color: #ddd;
//   color: black;
// }

// .topnav a.active {
//   background-color: #04AA6D;
//   color: white;
// }

// .topnav-right {
//   float: right;
// }

