---
---

@import "{{ site.theme }}";
.main-content {
//   img { 
//   -webkit-filter: drop-shadow(20px 20px 20px #1d1c1c);
//   filter: drop-shadow(20px 20px 20px #1d1c1c);
// //     box-shadow: 20px 20px 20px #1d1c1c; 
// //     display:block; 
//   }  

  img {
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222)
  }  
  

	
  h1 {
   color: #fff;
   text-shadow: 2px 2px 5px #000;   
 }
  h2 {
   color: #fff;
   text-shadow: 2px 2px 5px #000;   
 }
  h3 {
   color: #fff;
   text-shadow: 2px 2px 5px #000;   
 }
  p {
   color: #fff;
   text-shadow: 2px 2px 5px #000;   
 }
  li {
   color: #fff;
   text-shadow: 2px 2px 5px #000;   
 }
  a {
   color: #90aebd;
   text-shadow: 2px 2px 5px #000;   
 }
}
.page-header {
    color: #fff;
    text-shadow: 2px 2px 5px #000;   
    text-align: center;
//     background-color: #fff;
//     background-image:linear-gradient(120deg, #90aebd, #000000);
    background-image: url({{ site.page-img | relative_url }});
    background-size: cover;
    background-position: right;
	
}


body {
//   background-color: #434b4f;
    background-color: #fff;
    background-image:linear-gradient(120deg, #90aebd, #000000);
//   {% if site.page-img %}
//   background-image: url({{ site.page-img | relative_url }});
//   background-attachment: fixed;
//   {% endif %}    
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
//   -webkit-filter: drop-shadow(20px 20px 20px #1d1c1c);
//   filter: drop-shadow(20px 20px 20px #1d1c1c);
//   width: 50%;
}


//ty
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  box-shadow: 5px 5px 5px #222; 
  display:block; 
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px #222; 
  display:block; 
}


